<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Results</title>
  </head>
  
  <center>
  <body id="result">
    <p>The result is: <%=@answer%></p>
    <br>
    <img src="http://www.wpexplorer.com/wp-content/uploads/wordpress-translation-plugins.jpg">
    <br>
    <div id="back"><a href='/english'> Back </a></div>
    <div id="back"><a href='/'> Home </a></div>
  </body>
  </center>
</html>