<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Phrase Dictionary</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
<body id="lang">

<form method="POST" action="/eng-result">
  <div class="languages"><h2> Language: </h2>
<select name="language">
  <option value = "english">English</option>
  <option value = "spanish">Spanish</option>
  <option value = "french (formal)">French: Formal</option>
  <option value = "french (informal)">French: Informal</option>
  <option value = "german">German</option>
  </select> </div><br><br><br><br>
  <h2> Phrase: </h2>
  <select name="phrases">
  <option value = "hello">Hello</option>
  <option value = "goodbye">Goodbye</option>
  <option value = "How are you?">How are you?</option>
   <option value = "Good morning!">Good Morning!</option>
   <option value = "Good afternoon!">Good Afternoon!</option>
   <option value = "Good night!">Good Night!</option>
    <option value = "Thank you!">Thank you!</option>
    <option value = "please">Please</option>
    <option value = "You're welcome!">You're Welcome!</option>
    <option value = "Excuse me">Excuse me</option>
    <option value = "Sorry">Sorry</option>
</select><br><br>
  <input type="submit" value="Submit">
</form> <br>
  <div id="back"><a href='/'> Back </a></div>
</body>
</html>
