<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Resultados</title>
  </head>
  
  <center>
  <body id="result">
    <p>"<%=@phrase%>" en <%=@lang2%> es: <%=@answer%></p>
     <br>
    <img src="http://www.wpexplorer.com/wp-content/uploads/wordpress-translation-plugins.jpg">
    <br>
    <div id="back"><a href='/spanish'> Regresar </a></div>
    <div id="back"><a href='/'> Origen </a></div>
  </body>
  </center>
</html>