<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>R&eacutesultats</title>
  </head>
  
  <center>
  <body id="result">
    <p>Le r&eacutesultat est: <%=@answer%></p>
     <br>
    <img src="http://www.wpexplorer.com/wp-content/uploads/wordpress-translation-plugins.jpg">
    <br>
    <div id="back"><a href='/french'> Retourner </a></div>
    <div id="back"><a href='/'> Origine </a></div>
  </body>
  </center>
</html>