<div class="languages"><h2> Language: </h2></div>
<form method="POST" action="/fra-result">
<select name="language">
    <option value = "anglais">Anglais</option>
  <option value = "espagnol">Espagnol</option>
  <option value = "français (poli)">Fran&ccedilais: Poli</option>
  <option value = "français (impoli)">Fran&ccedilais: Impolil</option>
</select>
  <h2> Phrase: </h2>
  <select name="phrases">
  <option value = "bonjour">Bonjour</option>
  <option value = "au revoir">Au Revoir</option>
  <option value = "Comment allez-vous?">Comment allez-vous?</option>
    <option value = "Bonjour!">Bonjour</option>
     <option value = "Bon aprés-midi!">Bonjour(Bon Apr&eacutes-midi)</option>
    <option value = "Bonne nuit!">Bonne Nuit</option>
</select>
  <input type="submit" value="Submit">
</form>
 <a href='/'>Retourner</a>