<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Phrase Dictionary</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
<body id="lang">
  
<form method="POST" action="/fra-result">
  <div class="languages"><h2> Language: </h2>
<select name="language">
    <option value = "anglais">Anglais</option>
  <option value = "espagnol">Espagnol</option>
  <option value = "français (poli)">Fran&ccedilais: Poli</option>
  <option value = "français (impoli)">Fran&ccedilais: Impoli</option>
    </select></div><br><br><br><br>
  <h2> Phrase: </h2>
  <select name="phrases">
  <option value = "bonjour">Bonjour</option>
  <option value = "au revoir">Au Revoir</option>
  <option value = "Comment allez-vous?">Comment allez-vous?</option>
    <option value = "Bonjour!">Bonjour</option>
     <option value = "Bon aprés-midi!">Bonjour(Bon Apr&eacutes-midi)</option>
    <option value = "Bonne nuit!">Bonne Nuit</option>
    <option value = "Merci!">Merci</option>
    <option value = "s'il vous plaît">s'il vous pla&icirct</option>
    <option value = "Je vous en prie">Je vous en prie</option>
    <option value = "Pardonnez-moi">Pardonnez-moi</option>
    <option value = "Je suis désolé(e)">Je suis d&eacutesol&eacute(e)</option>
</select><br><br>
  <input type="submit" value="Submit">
</form> <br>
  <div id="back"><a href='/'>Retourner</a></div>
</body>
</html>