<html>
  <head>
    <link rel="stylesheet" href="css/style.css">
    <title>Results</title>
  </head>
  
  <center>
  <body id="result">
    <p>"<%=@phrase%>" hinein <%=@lang2%> es: <%=@answer%></p>
    <br>
    <img src="http://www.wpexplorer.com/wp-content/uploads/wordpress-translation-plugins.jpg">
    <br>
    <div id="back"><a href='/german'> R&uumlckkehr </a></div>
    <div id="back"><a href='/'> Herkunft </a></div>
  </body>
  </center>
</html>