<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Phrase Dictionary</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
<body id="lang">

<form method="POST" action="/ger-result">
  <div class="languages"><h2> Sprache: </h2>
<select name="language">
  <option value = "englisch">Englisch</option>
  <option value = "spanisch">Spanisch</option>
  <option value = "französisch (höflich)">Franz&oumlsisch: H&oumlflich</option>
  <option value = "französisch (unhöflich)">Franz&oumlsisch: Unh&oumlflich</option>
  <option value = "deutsch">Deutsch</option>
  </select> </div><br><br><br><br>
  <h2> Phrase: </h2>
  <select name="phrases">
  <option value = "hallo">Hallo</option>
  <option value = "auf Wiedersehen">auf Wiedersehn</option>
  <option value = "Wie geht es Ihnen?">Wie geht es Ihnen?</option>
   <option value = "Guten Morgen!">Guten Morgen!</option>
   <option value = "Guten Tag!">Guten Tag!</option>
   <option value = "Gute Nacht!">Gute Nacht!</option>
    <option value = "Danke!">Danke!</option>
    <option value = "bitte">Bitte</option>
    <option value = "Bitte sehr!">Bitte sehr!</option>
    <option value = "Entschuldigen Sie">Entschuldigen Sie</option>
    <option value = "Entschuldigung">Entschuldigung</option>
</select><br><br>
  <input type="submit" value="Absenden">
</form> <br>
  <div id="back"><a href='/'> R&uumlckkehr </a></div>
</body>
</html>
