 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Phrase Dictionary</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <center>
  <body id="main">
   <h1> YOUR PHRASE DICTIONARY </h1>
 <img src="http://static.guim.co.uk/sys-images/Guardian/About/General/2013/10/8/1381235102087/Foreign-language-dictiona-005.jpg"> <br> <br> <br> <br> 
   <div class = "forms">
     <h2> Choose your language / Choisissez votre langue / Elija su idioma / W&aumlhlen Sie Ihre Sprache </h2>
     <h4><div id="front"><a href="/english">English</a></div>
       <div id="front"><a href="/french">Français</a></div>
     <div id="front"><a href="/spanish">Español</a></div>
     <div id = "front"><a href="/german">Deutsch</a></div></h4>
   </div>
 </body>
  </center>
</html>
