 <!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Phrase Dictionary</title>
  <link rel="stylesheet" href="css/style.css" type="text/css">
 </head>
 <body>
   <h1> Your Phrase Dictionary </h1>
   <br><br>
   <div class = "forms">
     <h2> Choose your language/Choisissez votre language/Elija su idioma </h2>
     <h2> 
       <a href="/english">English</a>
       <a href="/french">Français</a>
       <a href="/spanish">Español</a>
   </div>
 </body>
</html>
