<div class="languages"><h2> Idioma: </h2></div>
<form method="POST" action="/esp-result">
<select name="language">
    <option value = "inglés">ingl&eacutes</option>
    <option value = "español">espa&ntildeol</option>
  <option value = "francés (formal)">franc&eacutes: formal</option>
 <option value = "francés (informal)">franc&eacutes: informal</option>
</select>
  <h2> Frase: </h2>
  <select name="phrases">
  <option value = "hola">Hola</option>
  <option value = "adiós">Adi&oacutes</option>
  <option value = "¿Cómo estás?">C&oacutemo est&aacutes?</option>
    <option value = "¡Buenos días!">Buenos D&iacuteas</option>
    <option value = "¡Buenas tardes!">Buenas Tardes</option>
    <option value = "¡Buenas noches!">Buenas Noches</option>
</select>
  <input type="submit" value="Submit">
</form>
 <a href='/'>Regresar</a>