body{
  background: #efcffb;
  /*background:url("images/open_book_blank_T.png");
  background-size: 400px 500px;
  background-repeat: no-repeat;*/
}

h1{
  font-family: tahoma;
  margin: 50px;
}

h2{
  text-align: center;
}

h4{
  color: #6b1b87;
  font-size: 40px;
  font-family: georgia;
}


#front{
  margin-left: 30px;
  margin-right: 30px;
  display:inline;
}

#lang{
  margin: 50px;
}

.languages{
  
}

#back{
  float:right;
  margin: 15px;
}

#result{
  margin-top: 80px;
  font-size: 30px;
  font-family: georgia;
}

.box{
  border: 8px;
  border-style: solid;
  border-color: #6b1b87;
  padding: 40px;
  margin: 20px;
}